/* font embeds */
/*
@font-face {
	font-family: 'NUSMST-icons';
	src:url('fonts/NUSMST-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*/
* {
    font-family: 'Roboto', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #fff;
}
.mst-icon-settings, .mst-icon-warning, .mst-icon-error, .mst-icon-success, .mst-icon-close {
    font-family: 'NUSMST-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.mst-icon-settings:before {
	content: "\73";
}
.mst-icon-warning:before {
	content: "\65";
}
.mst-icon-error:before {
	content: "\77";
}
.mst-icon-success:before {
	content: "\69";
}
.mst-icon-close:before {
	content: "\63";
}
#main_container{
}
#notification_panel{
    height: 0;
}
#notification{
    position: absolute;
    width: 100%;
    line-height: 20px;
    padding: 0.5em 2em;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
    background-color: #000000;
    z-index: 100;
	display: none;
}
#notification .mst-icon-settings, #notification .mst-icon-warning, #notification .mst-icon-error, #notification .mst-icon-success, #notification .mst-icon-close {
	display:none;
}
#notification.success{
    background-color: #ccffcc;
    border-top: 1px solid #22aa22;
    border-bottom: 1px solid #22aa22;
}
#notification.success .mst-icon-success{
	display: inline;
}
#notification.warning{
    background-color: #ffff88;
    border-top: 1px solid #aaaa22;
    border-bottom: 1px solid #aaaa22;
}
#notification.warning .mst-icon-warning{
	display: inline;
}
#notification.error{
    background-color: #ffcccc;
    border-top: 1px solid #ff2222;
    border-bottom: 1px solid #ff2222;
}
#notification.error .mst-icon-error{
	display: inline;
}
#notification.flash {
	background-color: white;
}
#top_panel{
	background-color: #353535;
	background: linear-gradient(to bottom,  #353535 0%,#1c1c1c 28%,#131313 58%);
	color: #dedeff;
	height: 30px;
	padding: 15px 0;
}
#top_panel .title{
	font-size: 2em;
    margin-left: 50px;
	line-height: 1;
}
#top_panel .popover {
    color: black;
}
#userBox .nickname {
    cursor: pointer;
}

#bottom_panel_group{

}

#left_panel{
	padding: 25px 50px;
	padding-right:0;
}
#right_panel{
    height: 100%;
	padding: 25px;
	box-sizing: border-box;
}
#module_search {
    width: 100%;
}
#module_list{
	min-height: 200px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 2px;
	font-size: 18px;
	overflow: auto;
}

#module_list .module {
    padding: 5px;
	border: 1px solid #ccc;
	background-color: #eee;
	
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
#module_list .module.not_prerequisite {
    display:none;
}
#module_list .module.hidden {
    display:none;
}
#module_list .module.added {
	background-color: #A1F57F;
    /*display:none;*/
}
#module_list .module:hover{
	background-color: #bee4f8;
}
#module_list .module.selected{
	background-color: #000;
}
#control_panel {
	margin: 10px 0;
}
div.pull-right label.control-label, 
div.pull-right input.input-small,
div.pull-right input.btn.btn-small{
	display: inline;
	padding: 5px;
	vertical-align: middle;
}
div.pull-right input.input-small{
	height: 16px;
	margin-top: 10px;
}

div.pull-right input.btn.btn-small{
	width: 80px;
	margin-right: 20px;	
}
