* {
    font-family: 'Roboto', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #fff;
}
#main_container{
}
#notification_panel{
    height: 0;
}
#notification{
    position: absolute;
    width: 100%;
    line-height: 1;
    padding: 0.5em 2em;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
    background-color: #000000;
    z-index: 100;
	display: none;
}
#notification.success{
    background-color: #ccffcc;
    border-top: 1px solid #22aa22;
    border-bottom: 1px solid #22aa22;
}
#notification.warning{
    background-color: #ffff88;
    border-top: 1px solid #aaaa22;
    border-bottom: 1px solid #aaaa22;
}
#notification.error{
    background-color: #ffcccc;
    border-top: 1px solid #ff2222;
    border-bottom: 1px solid #ff2222;
}
#top_panel{
	background-color: #353535;
	background: linear-gradient(to bottom,  #353535 0%,#1c1c1c 28%,#131313 58%);
	color: #dedeff;
	height: 30px;
	padding: 15px 0;
}
#top_panel .title{
	font-size: 2em;
    margin-left: 50px;
	line-height: 1;
}
#top_panel .popover {
    color: black;
}
#bottom_panel_group{

}

#left_panel{
	padding: 25px 50px;
	padding-right:0;
}
#right_panel{
    height: 100%;
	padding: 25px;
}
#module_search {
    width: 100%;
}
#module_list{
	min-height: 200px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 2px;
	font-size: 18px;
	overflow: auto;
}

#module_list .module {
    padding: 5px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: #eee;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#module_list .module.hidden {
    display:none;
}
#module_list .module.added {
    display:none;
}
#module_list .module:hover{
	background-color: #A1F57F;
}
#module_list .module.selected{
	background-color: #000;
}
#control_panel {
	margin: 10px 0;
}
div.pull-right label.control-label, 
div.pull-right input.input-small,
div.pull-right input.btn.btn-small{
	display: inline;
	padding: 5px;
	vertical-align: middle;
}
div.pull-right input.input-small{
	height: 16px;
	margin-top: 10px;
}

div.pull-right input.btn.btn-small{
	width: 80px;
	margin-right: 20px;	
}
