#skillTreeView {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*box-shadow*/
	-webkit-box-shadow:inset 0 0 15px 1px #000000;
	   -moz-box-shadow:inset 0 0 15px 1px #000000;
			box-shadow:inset 0 0 15px 1px #000000;
    background-color: #eee;
    /*border-radius*/
	-webkit-border-radius:6px;
	   -moz-border-radius:6px;
			border-radius:6px;
	/*box-sizing*/
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
    position: relative;
}

#skillTree {
    position: relative;
}

#semesters {
    position: relative;

}
/*
#skillTreee {
    height: 100%;
    width: 100%;
    overflow: auto;
    /*box-shadow*
	-webkit-box-shadow:inset 0 0 15px 1px #000000;
	   -moz-box-shadow:inset 0 0 15px 1px #000000;
			box-shadow:inset 0 0 15px 1px #000000;
    background-color: #eee;
    /*border-radius*
	-webkit-border-radius:6px;
	   -moz-border-radius:6px;
			border-radius:6px;
    position: relative;
}
*/

.semester {
    height: 190px;
    border-bottom: 10px solid #555;
    position: relative;
    color: #fff;
}

.semester .semester_meta {
    height: 20px;
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    padding: 0;
    background-color: #555;
}

.semester .btn-link {
    color: #ff0;
}

.semester.drop-hover {
    border-color: #fb5;
}

.semester.drop-hover .semester_meta {
    background-color: #fb5;
}

.semester h1 {
    position: absolute;
    left: 10px;
    bottom: 0;
    font-size: 70px;
    line-height: 1em;
    display: inline;
    color: #bbb;
    cursor: default;
}

.semester .input-block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.semester .btn-group {
    position: absolute;
    display: none;
    left: 5px;
    top: 5px;
    opacity: 0;
	z-index: 200;
	-webkit-transition:opacity 0.5s;
	   -moz-transition:opacity 0.5s;
		 -o-transition:opacity 0.5s;
			transition:opacity 0.5s;
}

.semester .btn-group .btn {
    width: 40px;
    height: 40px;
    font-size: 20px;
	padding: 0;
    /*border-radius*/
	-webkit-border-radius:10px;
	   -moz-border-radius:10px;
			border-radius:10px;
}

.semester:hover .btn-group {
    opacity: 1;
}

#skillTreeView.editMode .semester .btn-group {
    display: block;
}

.moduleBox {
    z-index: 20;
    height: 120px;
    width: 200px;
    padding: 10px 0;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    background-color: #ddd;
    /*linear-gradient*/
	background:-webkit-gradient(linear,left top,left bottom,color-stop(#f7f7f7,0),color-stop(#e2e2e2,1));
	/*@@prefixmycss->No equivalent*/
	background-image:-webkit-linear-gradient(top, #f7f7f7,#e2e2e2);
	background-image:   -moz-linear-gradient(top, #f7f7f7,#e2e2e2);
	background-image:     -o-linear-gradient(top, #f7f7f7,#e2e2e2);
	background-image:        linear-gradient(top, #f7f7f7,#e2e2e2);
    position: absolute;
    display: inline-block;
    border-color: #555;
    border-width: 2px;
    border-style: solid;
    /*border-radius*/
	-webkit-border-radius:50px;
	   -moz-border-radius:50px;
			border-radius:50px;
    /*box-shadow*/
	/*
	-webkit-box-shadow:0 0 5px 1px #000;
	   -moz-box-shadow:0 0 5px 1px #000;
			box-shadow:0 0 5px 1px #000;
	*/
    overflow: hidden;
    color: #212;
    font-family: sans-serif;
    font-size: 12pt;
    text-shadow: 2px 2px 2px #888;
    cursor: default;
    /*transition*/
	-webkit-transition:opacity 0.2s, -webkit-transform 0.2s;
	   -moz-transition:opacity 0.2s, -moz-transform 0.2s;
		 -o-transition:opacity 0.2s, -o-transform 0.2s;
			transition:opacity 0.2s, transform 0.2s;
}

.moduleBox.ui-draggable-dragging {
    z-index: 21;
    cursor: move;
    opacity: 0.5;
    /*transform*/
	-webkit-transform:scale(1.1,1.1);
	   -moz-transform:scale(1.1,1.1);
		-ms-transform:scale(1.1,1.1);
		 -o-transform:scale(1.1,1.1);
			transform:scale(1.1,1.1);
}

#skillTree.highlight-mode .moduleBox:not(.highlighted):not(.selected) {
    opacity: 0.2;
}

.moduleBox .moduleCode, .moduleBox .title {
    height: 20px;
    padding-bottom: 10px;
    font-weight: bold;
	text-align: center;
}
.prereqGroup.moduleBox .title {
    height: 30px;
}

.moduleBox .moduleTitle, .moduleBox .message {
    font-size: 0.9em;
	text-align: center;
}

.moduleBox .moduleSettings {
	display: none;
	margin: 30px 0px;
	text-align: center;
}

.moduleBox .moduleSettings p {
    line-height: 1;
    display: inline;
}

.moduleBox .btn.checked {
}

.moduleBox .btn .indicator {
    height: 1em;
    width: 5px;
    margin-right: 7px;
    margin-left: -3px;
    display: inline-block;
    background-color: #020;
}

.moduleBox .btn.checked .indicator {
    background-color: #0d0;
}

.moduleBox .controlPanel {
    display: none;
	float: right;
    position: absolute;
    right: 20px;
    top: 10px;
    opacity:0;
	-webkit-transition:opacity 0.5s;
	   -moz-transition:opacity 0.5s;
		 -o-transition:opacity 0.5s;
			transition:opacity 0.5s;
}

#skillTreeView.editMode .moduleBox .controlPanel {
    display: block;
}

.moduleBox .controlPanel button {
    display: inline-block;
	background: none repeat scroll 0% 0% transparent;
	padding: 0;
	border: 0;
	opacity: 0.5;
	-webkit-transition:opacity 0.2s;
	   -moz-transition:opacity 0.2s;
		 -o-transition:opacity 0.2s;
			transition:opacity 0.2s;
}

.moduleBox .controlPanel button:hover {
	opacity: 1;
}

.moduleBox:hover .controlPanel {
    opacity: 1;
}

.moduleBox.invalid {
	border-color: #d00;
}
.moduleBox.selected {
    background-color: #bbb;
    /*box-shadow*/
	-webkit-box-shadow:0px 0px 10px #ff0;
	   -moz-box-shadow:0px 0px 10px #ff0;
			box-shadow:0px 0px 10px #ff0;
}
.moduleBox.prereqGroup {
    /* Background definitions */
    background: rgb(242,230,169); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,230,169,1) 0%, rgba(229,219,176,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,230,169,1)), color-stop(100%,rgba(229,219,176,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,230,169,1) 0%,rgba(229,219,176,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,230,169,1) 0%,rgba(229,219,176,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,230,169,1) 0%,rgba(229,219,176,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,230,169,1) 0%,rgba(229,219,176,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e6a9', endColorstr='#e5dbb0',GradientType=0 ); /* IE6-9 */
	
	border-color: #dd7700;
}
/* Old definition
#moduleInfo {
    float:right;
    width: 300px;
    height: 100%;
    padding: 40px 20px;
    background-color: #999;
    border: 2px;
}
*/
#moduleInfo {
    z-index: 300;
    width: 300px;
	height: 420px;
    padding: 10px 20px;
    background-color: #111;
	background: rgba(17, 17, 17, 0.6);
    /*linear-gradient*/
    position: fixed;
    /*border-radius*/
	-webkit-border-radius:10px;
	   -moz-border-radius:10px;
			border-radius:10px;
    color: #eee;
    font-family: sans-serif;
    font-size: 12pt;
    text-shadow: 2px 2px 0px #222;
    cursor: default;
	/*transition*/
	/*
	-webkit-transition:opacity 0.2s;
	   -moz-transition:opacity 0.2s;
		 -o-transition:opacity 0.2s;
			transition:opacity 0.2s;
			*/
}
#moduleInfo .arrow-left {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #111111;
	border-right-color: rgba(17, 17, 17, 0.6);
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: -10px;
	margin-left: -10px;
	display: none;
}
#moduleInfo .arrow-right {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #111111;
	border-left-color: rgba(17, 17, 17, 0.6);
	width: 0;
	height: 0;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: -10px;
	margin-right: -10px;
	display: none;
}

#moduleInfo #moduleAccordion {
	height: 220px;
}

#moduleInfo #moduleAccordion h5 {
	cursor: pointer;
    padding: 2px 5px;
    background-color: #444;
    /*border-radius*/
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
			border-radius:5px;
}

/*#moduleInfo .moduleDesc {
	max-height: 150px;
	line-height: 1.5;
	overflow: auto;
}*/


.ps-container .ps-scrollbar-y, .ps-container .ps-scrollbar-x {
	z-index: 301;
	background-color: #000;
}

._jsPlumb_endpoint {
    z-index: 4;
}

._jsPlumb_connector {
    z-index: 4;
}

._jsPlumb_connector .highlight{
    z-index: 4;
	opacity: 1;
}

._jsPlumb_overlay {
    z-index: 7;
}