html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
body {
    background-color: #fff;
}

#layout {
    height: 100%;
    width: 100%;
}

#skillTree {
    margin: 0px;
    height: 100%;
    background-color: #eee;
}

.moduleBox {
    height: 100px;
    width: 200px;
    background-color: #ddd;
    background: rgba(200,200,200,0.8);
    position: relative;
    border-color: #555;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 15px 5px #000;
    overflow: hidden;
    color: #212;
    font-family: sans-serif;
    font-size: 12pt;
    text-shadow: 0px 0px 3px #888
}

.moduleBox.selected {
    background-color: #bbb;
    box-shadow: 0px 0px 10px #ff0;
}

#moduleInfo {
    float:right;
    width: 300px;
    height: 400px;
    background-color: #999;
    margin: 10px;
    padding: 10px;
    border: 2px;
}

