<!DOCTYPE html>
<!--Home Page Jinja Template
args:
		user : Google App Engine User
-->
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" ></meta>
	<!-- Meta tags -->
	<meta property="og:title" content="NUS Module Skill Tree" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ url }}" />
	<meta property="og:image" content="{{ host }}/images/thumbnail.jpg" />
	<meta property="og:description" content="Plan out your modules for your life in NUS!" />
	<meta name="twitter:card" content="summary" />
	<meta name="description" content="Plan out your modules for your life in NUS!" />
	<link rel="image_src" href="/images/thumbnail.jpg" />
	<!--Link all external css files here-->
	<!-- External fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,400' rel='stylesheet' type='text/css' />
	<link href='/css/fonts/NUSMST-icons.css' rel='stylesheet' type='text/css' />
	<!-- CSS rule definitions -->
	<link href="/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link href="/css/main.css" type="text/css" rel="stylesheet" />
	<!--end of css files-->
	<title>NUS Module Skill Tree</title>
</head>
<body>
<div id="title_panel">
	<div class="hero-unit center">
		<div id="title_header">
			<h1 class="header-left">NUS</h1>
			<div class="header-center"></div>
			<div class="header-right">
				<h2>module</h2>
				<h2>skill tree</h2>
			</div>
		</div>
		<p>
			{% if student is defined and student is not none %}
				Welcome back, {{ student.name }}!
			{% else %}
				Need to plan your time in NUS?
			{% endif %}
		</p>
		<a href="/skilltree" class="btn btn-large btn-primary{% if student is undefined %} sign_in_button{% endif %}">
			{% if student is defined and student is not none %}
				Edit skill tree
			{% else %}
				Get started
			{% endif %}
		</a>
	</div>
</div>
{% if student is undefined %}
<div id="loginModal" class="modal hide fade" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Login</h3>
	</div>
	<div class="modal-body"></div>
</div>
{% endif %}
<!--Scripts after this line-->
<script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
<script type="text/javascript">
	// Fix conflicts between JqueryUI and Bootstrap.
	$.widget.bridge('uibutton', $.ui.button);
	$.widget.bridge('uitooltip', $.ui.tooltip);
</script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/login.js"></script>
</body>
</html>
