<!DOCTYPE html>
<!--Home Page Jinja Template
args:
		user : Google App Engine User
-->
<html lang="en" >
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" ></meta>
<!--Link all external css files here-->
<!-- External fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
<link href='/css/fonts/NUSMST-icons.css' rel='stylesheet' type='text/css' />
<!-- CSS rule definitions -->
<link href="/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="/css/main.css" type="text/css" rel="stylesheet" />
<!--end of css files-->
<title>Module Skill Tree</title>
</head>
<body>
<div id="title_panel">
	<div class="hero-unit center">
		<h1>NUS Module Skill Tree</h1>
		<p>
			{% if student is defined and student is not none %}
				Welcome back, {{ student.name }}!
			{% else %}
				Need to plan your time in NUS?
			{% endif %}
		</p>
		<a href="/skilltree" class="btn btn-large btn-primary{% if student is undefined %} sign_in_button{% endif %}">
			{% if student is defined and student is not none %}
				Edit skill tree
			{% else %}
				Get started
			{% endif %}
		</a>
	</div>
</div>
{% if student is undefined %}
<div id="loginModal" class="modal hide fade" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Login</h3>
	</div>
	<div class="modal-body"></div>
</div>
{% endif %}
<!--Scripts after this line-->
<script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
<script type="text/javascript">
	// Fix conflicts between JqueryUI and Bootstrap.
	$.widget.bridge('uibutton', $.ui.button);
	$.widget.bridge('uitooltip', $.ui.tooltip);
</script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/login.js"></script>
</body>
</html>
