{% if embed is undefined or not embed %}
<!DOCTYPE html>
<!--OpenID Login Page Jinja Template
args:
		embed : Whether the page should be embedded.
		redirect : A redirect URI
-->
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" ></meta>
	<!-- Meta tags -->
	<meta property="og:title" content="NUS Module Skill Tree" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ url }}" />
	<meta property="og:image" content="{{ host }}/images/thumbnail.jpg" />
	<meta property="og:description" content="Plan out your modules for your life in NUS!" />
	<meta name="twitter:card" content="summary" />
	<meta name="description" content="Plan out your modules for your life in NUS!" />
	<link rel="image_src" href="/images/thumbnail.jpg" />
	<!--Link all external css files here-->
	<!-- External fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,400' rel='stylesheet' type='text/css' />
	<link href='/css/fonts/NUSMST-icons.css' rel='stylesheet' type='text/css' />
	<!-- CSS rule definitions -->
	<link href="/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link href="/css/main.css" type="text/css" rel="stylesheet" />
	<!--end of css files-->
	<title>NUS Module Skill Tree - Login</title>
</head>
<body>
{% endif %}
<div id="openid_panel"{% if embed is defined and embed %} class="embed"{% endif %}>
	<div class="center">
		<h4>Login via one of the following sites:</h4>
		<div class="providers">
			{% if providers is defined %}
			<div class="btn-group">
				{% for provider in providers %}<button class="btn provider" data-provider="{{ provider }}"><img src="/images/openid/{{ provider }}.png" /></button>{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% if embed is undefined or not embed %}
<!--Scripts after this line-->
<script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
<script type="text/javascript">
	// Fix conflicts between JqueryUI and Bootstrap.
	$.widget.bridge('uibutton', $.ui.button);
	$.widget.bridge('uitooltip', $.ui.tooltip);
</script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
{% endif %}
<script type="text/javascript">
	$().ready(function() {
		$("#openid_panel .provider").click(function() {
			var provider = $(this).data('provider');
			var redirectURL = '{% if redirect is defined %}{{ redirect }}{% endif %}'
			if (redirectURL === '') redirectURL = '/';
			redirectURL = encodeURIComponent(redirectURL);
			redirectURL = redirectURL.replace(/%3D/g, '=');
			window.location = '/login?provider=' + provider + '&continue=' + redirectURL;
		});
	});
</script>
{% if embed is undefined or not embed %}
</body>
</html>
{% endif %}