<!DOCTYPE html>
<!--Skill Tree Jinja Template
args:
		user : Google App Engine User
		loginurl : The URL that the login/logout button should redirect to.
		skilltree : Skill Tree data entity

-->
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" ></meta>
	<!-- Meta tags -->
	<meta property="og:title" content="NUS Module Skill Tree" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ url }}" />
	<meta property="og:image" content="{{ host }}/images/thumbnail.jpg" />
	<meta property="og:description" content="Plan out your modules for your life in NUS!" />
	<meta name="twitter:card" content="summary" />
	<meta name="description" content="Plan out your modules for your life in NUS!" />
	<link rel="image_src" href="/images/thumbnail.jpg" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<!--Link all external css files here-->
	<!-- External fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,400' rel='stylesheet' type='text/css' />
	<link href='/css/fonts/NUSMST-icons.css' rel='stylesheet' type='text/css' />
	<!-- CSS rule definitions -->
	<link href="/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link href="/css/perfect-scrollbar-0.4.1.min.css" type="text/css" rel="stylesheet" />
	<link href="/css/main.css" type="text/css" rel="stylesheet" />
	<link href="/css/skilltree.css" type="text/css" rel="stylesheet" />
	<!--end of css files-->

	<script id="nicknameContent" type="text/html">Would you like to change your nickname?</script>
	<title>NUS Module Skill Tree</title>
</head>
<body>
<div id="main_container">
	<div id="top_panel" class="row-fluid">
		<div id="title_header" onclick="window.location.href = '/'">
			<h1 class="header-left">NUS</h1>
			<div class="header-center"></div>
			<div class="header-right">
				<h2>module</h2>
				<h2>skill tree</h2>
			</div>
		</div>
		<div id="userBox" class="pull-right">
			{% if student is defined %}<span class="welcome-text">Welcome, <a class="nickname">{{ student.name }}</a>!</span>
			{% else %}<span class="welcome-text">Welcome, friend!</span>{% endif %}
			<input class="btn btn-small btn-primary{% if student is undefined %} sign_in_button{% endif %}" type="button" value="Sign {% if student is defined %}out{% else %}in{% endif %}" onclick="window.location='{{ loginurl }}'">
		</div>
	</div>
	<div id="notification_panel">
		<div id="notification"><span class="mst-icon-success"></span><span class="mst-icon-warning"></span><span class="mst-icon-error"></span> <span class="content"></span><button class="close">&times;</button></div>
	</div>
	<div id="bottom_panel_group" class="row-fluid">
		<div id="left_panel" class="span2">
			<div id="edit_panel"{% if (student is not defined) or (ownskilltree is defined and not isownskilltree) %} style="display:none;"{% endif %}>
				<input id="module_search" class="span2" type="text" placeholder="e.g. CS1010" autocomplete="off">
				<select id="faculty_filter" class = "">
					<option>ALL FACULTIES</option>
					<option>ARTS & SOCIAL SCIENCES</option>
					<option>DENTISTRY</option>
					<option>ENGINEERING</option>
					<option>JOINT MULTI-DISCIPLINARY PROGRAMMES</option>
					<option>LAW</option>
					<option>NON-FACULTY-BASED DEPARTMENTS</option>
					<option>SCHOOL OF BUSINESS</option>
					<option>SCHOOL OF COMPUTING</option>
					<option>SCHOOL OF DESIGN AND ENVIRONMENT</option>
					<option>SCIENCE</option>
					<option>UNIVERSITY ADMINISTRATION</option>
					<option>UNIVERSITY SCHOLARS PROGRAMME</option>
					<option>YONG LOO LIN SCHOOL OF MEDICINE</option>
					<option>YONG SIEW TOH CONSERVATORY OF MUSIC</option>
				</select>
				<div id="module_list_view">
					<div id="module_list">
						<!--Modules will be inserted dynamically here-->
					</div>
				</div>
				<div id="control_panel">
					<form class="form-inline">
						<div class="button_group">
							<input id="save_button" class="btn btn-primary" type="button" disabled="disabled" value="Save"/>
							<input id="share_button" class="btn btn-primary" type="button" value="Share"/>
						</div>
					</form>
				</div>
			</div>
			<div id="view_panel"{% if isownskilltree is defined and isownskilltree %} style="display:none;"{% endif %}>
				<h4>Now Viewing:</h4>
				<p>{{ skilltreeowner }}'s skill tree</p>
				{% if student is defined %}<a href="/skilltree" class="btn btn-primary btn-block">View Your Own</a>
				<input id="edit_button" type="button" class="btn btn-warning btn-block" value="Edit This Tree" data-trigger="hover" data-content="Warning, your own skill tree will be overwritten if you do this!" />
				{% else %}
				<input type="button" class="btn btn-primary sign_in_button" value="Sign in" onclick="window.location='{{ loginurl }}'" />
				<p>to edit this skill tree, or make your own!</p>
				{% endif %}
			</div>
		</div>
		<div id="right_panel" class="span10">
			<div id="skillTreeView" class="{% if isownskilltree is defined and isownskilltree %}editMode{% endif %}">
				<div id="skillTree">
					{% if skilltree is defined and skilltree is not none %}
					<span style="display : none">{{ skilltree.name }}</span>
					{% endif %}
					<!--Modules will be inserted dynamically here-->
				</div>
				<div id="semesters">
					<div class="semester" id="semester1">
						<h1>1</h1>
						<div class="input-block"></div>
						<div class="btn-group">
							<button class="btn mst-icon-settings" title="Semester Options" data-toggle="dropdown"></button>
							<ul class="dropdown-menu">
								<li><a class="link_addbefore" tabindex="-1" href="javascript:;">Add a semester before this one</a></li>
								<li><a class="link_addafter" tabindex="-1" href="javascript:;">Add a semester after this one</a></li>
								<li><a class="link_remove" tabindex="-1" href="javascript:;">Remove this semester</a></li>
								<li><a class="link_nusmods" tabindex="-1" href="javascript:;">Export to NUSMods</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="moduleInfo" style="display:none">
				<div class="arrow-left"></div>
				<h3 class="moduleCode"></h2>
				<h4 class="moduleName"></h3>
				<h5 class="moduleFaculty"></h5>
				<div id="moduleAccordion">
					<h5>Description</h5>
					<div id="descContainer">
						<p class="moduleDesc"></p>
					</div>
					<h5>Preclusions:</h5>
					<div id="precludeContainer">
						<p><span class="modulePrecludes"></span></p>
					</div>
					<h5>Pre-requisites:</h5>
					<div id="prereqContainer">
						<p><span class="modulePrereqs"></span></p>
					</div>
				</div>
				<p>MCs: <span class="moduleMc"></span></p>
				<p>Workload: <span class="moduleWorkload"></span></p>
			</div>
		</div>
	</div>
</div>
<div id="loadingOverlay">
	<div id="loadingContent" class="center">
		<img src="/images/progress.gif" width="128px" height="124px" />
		<p id="progressText">Reticulating splines</p>
		<p id="progress"></p>
	</div>
</div>
{% if isNewUser is defined %}
<div id="disclaimerModal" class="modal hide fade" role="dialog">
	<div class="modal-header">
		<h3>Disclamer</h3>
	</div>
	<div class="modal-body">
		<p>Warning: This application is still under development, and while we try our best to ensure that module information is accurate, we claim no responsibility if it isn't. Oh, and we'll be wiping data from time to time as development progresses. Cheers!</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
	</div>
</div>
{% endif %}
{% if student is undefined %}
<div id="loginModal" class="modal hide fade" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Login</h3>
	</div>
	<div class="modal-body"></div>
</div>
{% endif %}
<div id="shareModal" class="modal hide fade" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Share Your Skill Tree</h3>
	</div>
	<div class="modal-body">
		<div><label for="shareUrl">Your Skill Tree Link:</label><input id="shareUrl" class="input-block-level" type="text" value="" readonly="readonly" /></div>
		<span class="btn-group"><a class="btn twitter-btn mst-icon-twitter" target="_blank" title="Post on Twitter"></a><a class="btn facebook-btn mst-icon-facebook" target="_blank" title="Share on Facebook"></a><a class="btn gplus-btn mst-icon-gplus" target="_blank" title="Share on Google+"></a></span>
		<a class="btn copy-btn pull-right">Select Link</a>
	</div>
</div>
<!--
<div id="overlayBG" style="display: none">
	<div id="progress" class="center">100%</div>
</div>-->
<!--Scripts after this line-->
<script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.ajaxQueue.js"></script>
<script type="text/javascript" src="/scripts/jquery.ajax-progress.js"></script>
<script type="text/javascript">
	// Fix conflicts between JqueryUI and Bootstrap.
	$.widget.bridge('uibutton', $.ui.button);
	$.widget.bridge('uitooltip', $.ui.tooltip);
</script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap-editable.js"></script>
<script type="text/javascript" src="/scripts/perfect-scrollbar-0.4.1.with-mousewheel.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.jsPlumb-1.4.1-all-min.js"></script>
<script type="text/javascript" src="/scripts/login.js"></script>
<script type="text/javascript" src="/scripts/skillTree.js"></script>
<script type="text/javascript" src="/scripts/script.js"></script>
<script type="text/javascript">
$(function() {
	//$('#userBox .nickname').popover('show');
{% if isNewUser is defined %}
	// TODO: PRINT NEW USER MESSAGE
{% endif %}
{% if skilltree is defined and skilltree is not none %}
	loadFromServer('{{ skilltree.guid }}'{% if student is not defined %}, false{% elif ownskilltree is defined and not isownskilltree %}, '{{ ownskilltree.guid }}'{% endif %});
{% endif %}
})
</script>
</body>
</html>
